@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-animation {
  width: fit-content;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.underline-animation::before {
  content: "";
  background-color: rgb(253, 80, 1); /* Customize color */
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease; /* Smooth transition */
  transform-origin: left; /* Expands from left */
}

.underline-animation:hover::before {
  transform: scaleX(1); /* Expands on hover */
}
